.header {
  display: flex;
  justify-content: space-between;

  @media (--only-small-screen) {
    background-image: url(../../assets/img/logo.png);
    background-repeat: no-repeat;
    background-position: calc(0% + var(--spacerBig)) var(--spacerBig);
  }

  @media (--only-medium-screen) {
    background-image: none;
  }
}

.header__titles {
  margin-left: var(--spacerSmall);

  @media (--only-small-screen) {
    max-width: 64.66%;
    margin-left: 8rem;
  }

  @media (--only-medium-screen) {
    max-width: none;
    margin-left: var(--spacerSmall);
  }
}
