.orders {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order {
  display: flex;
  align-items: center;
  padding: var(--spacerSmall) 0;
  border-bottom: .06rem solid var(--colorGray);
}

.order:first-child {
  padding-top: calc(var(--spacerSmall) / 3);
}

.order:last-child {
  padding-bottom: calc(var(--spacerSmall) / 3);
}

.order__name {
  flex-grow: 1;
}

.order__amount {
  display: inline-block;
  color: var(--colorMain);
  margin-right: var(--spacerSmall);
}

.order__remove {
  color: var(--colorGrayDark);
  padding-left: var(--spacerSmall);
  padding-right: 0;
  font-size: var(--fontSmall);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.total {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: var(--colorGray);
  font-weight: var(--fontWeightBold);
  padding: var(--spacerRegular) var(--spacerBig);
  margin: 0;
  border-top: .1rem solid #f1f1f1;

  @media (--only-medium-screen) {
    left: 33.33%;
  }
}

.total__label {
  flex-grow: 1;
}

.emptystate {
  text-align: center;
  margin-top: calc(var(--spacerBig) * 1);
  color: var(--colorGrayDark);

  @media (--only-small-screen) {
    margin-top: calc(var(--spacerBig) * 2);
  }
}

.emptystate__content {
  display: block;
  margin-top: var(--spacerSmall);
}
