
html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-size: var(--fontRegular);
    background-color: var(--colorLightest);
    color: var(--colorText);
  }
  