:root {
  --colorLightest: white;
  --colorText: #211f1f;
  --colorMain: #F1E4B8;
  --colorSecondary: #B2422A;
  --colorGray: #fafafa;
  --colorGrayDark: #9c9c9c;
  --spacerSmall: .75rem;
  --spacerRegular: 1rem;
  --spacerBig: 1.88rem;
  --fontSmall: .75rem;
  --fontRegular: 1.13rem;
  --fontMedium: 1.25rem;
  --fontBig: 1.75rem;
  --font: 'Roboto', sans-serif;
  --fontTitle: 'playfair-display', sans-serif;
  --fontWeightRegular: 400;
  --fontWeightBold: 500;
  --fontWeightTitle: 700;
}

@custom-media --only-small-screen (width >= 360px);
@custom-media --only-medium-screen (width >= 900px);
